.avatar {
	border-radius: 50%;
	border: solid 5px #444;
}

.central {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 0 30px;
	text-align: center;
	align-items: center;
}	

.central > .intro {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 3.75em;
	font-weight: 600;
}

.icons-social i {
	padding: 10px;
}

.devto {
	margin-bottom: -0.20rem;
}

.devto svg {
	margin-bottom: -0.20rem;
	margin-left: 0.675rem;;
	width: 2.65rem;
	height: 2.65rem;
}

/* Menu navigation */
nav > ul.links {
	margin: 1em 0;
	text-align: left;
}

nav > ul.links li {
	display: inline;
}	

nav > ul.links li a {
	color: #fff;
	background-color: #444;
	padding: .25em 0.5em;
	font-size: 1.5rem;
	margin: 1.5rem 0;
	font-weight: 100;
	font-family: 'Reem Kufi', sans-serif;
}

